@media (max-width: 960px) {
  .main__space4-relative h1 :nth-child(1) {
    padding-left: 0px !important;
  }
  .main__space4-relative img {
    width: 250px !important;
  }
  .main__space4-relative span {
    padding-left: 300px !important;
  }
  .main .section__contant {
    flex-direction: row-reverse;
    align-items: flex-end;
  }
  .main .section__contant img {
    height: 493px;
  }
  .main .section__text {
    width: 300px;
    padding-right: 20px;
  }
  .main .section__offers-content {
    gap: 30px;
  }
  .main .section__specifications-text {
    height: 103px !important;
  }
  .main .section__specifications-text :last-child {
    width: 280px;
  }
  .main .swiper .swiper-slide__text {
    text-align: center !important;
    font-size: 20px;
  }
  .footer__email-h2 h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
  }
  .footer .js-form .input {
    width: 280px;
  }
  .footer .js-form .btn {
    width: 280px;
    height: 55px;
  }
  .footer__contant-contacts {
    width: 170px;
  }
  .footer__contant-contacts h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
  }
  .footer__web-links :nth-child(2) {
    display: none;
  }
  .footer__web-links :nth-child(3) {
    display: none;
  }
}
@media (max-width: 800px) {
  .main__space4-relative img {
    width: 40px !important;
  }
  .main__space4-relative span {
    padding-left: 100px !important;
  }
}
@media (max-width: 745px) {
  .section__offers-info p {
    width: 250px;
    height: 219px;
  }
  .section__offers-info button {
    width: 250px;
  }
  .section__offers-info button:hover {
    transform: scale(1);
  }
}
@media (max-width: 641px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header {
    height: 64px;
  }
  .header__contant {
    height: 100%;
  }
  .header__info button {
    display: none;
  }
  .header__info :first-child {
    padding: 0;
  }
  .main {
    margin-top: 50px;
  }
  .main__space4-relative h1 {
    font-weight: 400;
    font-size: 41px;
    line-height: 120%;
    text-align: center;
  }
  .main__space4-relative h1 .freedom {
    padding-left: 10px !important;
  }
  .main__space4-relative img {
    display: none;
  }
  .main__space4-relative button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  .main .section__h2 {
    display: block;
  }
  .main .section__style .section__contant {
    flex-direction: column;
    align-items: flex-start;
  }
  .main .section__style .section__contant .section__img {
    width: 100%;
  }
  .main .section__style .section__contant .section__img :first-child {
    display: none;
  }
  .main .section__style .section__contant .section__img :last-child {
    display: block;
    height: 320px;
  }
  .main .section__style .section__contant .section__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-right: 0px;
  }
  .main .section__style .section__contant .section__text p {
    width: 280px;
  }
  .main .section__style .section__contant .section__text p:not(:last-child) {
    padding-right: 15px;
  }
  .main .section__style .section__contant .section__text h2 {
    display: none;
  }
  .main .swiper {
    height: auto;
    max-height: 750px;
    min-height: 410px;
  }
  .main .swiper .slide-image {
    height: auto !important;
  }
  .main .swiper .swiper-button-next {
    color: #F6F6F6;
    right: 15px;
  }
  .main .swiper .swiper-button-prev {
    color: #F6F6F6;
    left: 15px;
  }
  .main .swiper-zone .swiper-button-next {
    color: #F6F6F6;
    right: 15px !important;
  }
  .main .swiper-zone .swiper-button-prev {
    color: #F6F6F6;
    left: 15px !important;
  }
}
@media (max-width: 571px) {
  .main__space4-relative h1 .freedom {
    padding-left: 5px !important;
  }
  .main__space4-relative button {
    width: 270px !important;
  }
  .main .section__style .section__contant {
    flex-direction: column-reverse;
  }
  .main .section__style .section__contant h2 {
    display: none;
  }
  .main .section__style .section__contant .section__text {
    flex-direction: column;
  }
  .main .section__style .section__contant .section__text h2 {
    display: block;
  }
  .main .section__style .section__contant .section__img {
    width: auto !important;
  }
  .main .section .section__contant {
    flex-direction: column-reverse;
    align-items: baseline;
  }
  .main .section .section__contant .section__text {
    padding: 0px 0px 50px 0px;
    width: 280px;
  }
  .main .section .section__contant .section__img {
    width: 280px;
  }
  .main .section .section__contant .section__img img {
    height: auto;
  }
  .main .section .section__contant .section__img iframe {
    min-height: 330px;
  }
  .main .section .section__offers-content {
    flex-direction: column !important;
  }
  .main .section .section__offers-content .section__offers-img {
    width: 280px;
    height: 320px;
  }
  .main .section .section__offers-content .section__offers-img img {
    height: 100%;
  }
  .main .section .section__specifications-text {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .main .section .section__specifications-text :first-child {
    padding-top: 20px;
  }
  .main .section .section__specifications-text :last-child {
    padding-bottom: 20px;
  }
  .main .swiper-zone .swiper-pagination {
    bottom: -15px;
  }
  .footer__email-h2 h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__content form .btn:hover {
    transform: scale(1, 1);
  }
  .footer__content form .checkbox__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }
  .footer__contant-contacts {
    padding-top: 100px;
  }
  .footer__web-links {
    display: none;
  }
}/*# sourceMappingURL=madia.css.map */