@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
html:root {
  width: 100%;
  --swiper-theme-color: #2b2b2b;
  --swiper-navigation-size: 28px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-weight: 400;
  font-size: 66px;
  line-height: 100%;
  color: #F6F6F6;
  text-transform: uppercase;
}

h2 {
  font-weight: 400;
  font-size: 41px;
  line-height: 49px;
}

h3 {
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
}

span {
  color: #C00000;
}

button {
  width: 330px;
  height: 55px;
}

section {
  padding: 7vw 0vw;
}

footer {
  background-color: #2B2B2B;
  color: #F6F6F6;
}

input {
  width: 400px;
  height: 50px;
  border-bottom: solid 1px #959595;
  padding-left: 10px;
}

.container {
  max-width: 1240px;
  padding: 0px 20px 0px 20px;
  margin: 0 auto;
}

.header {
  background-color: #F6F6F6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: auto;
}
.header__contant {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.header__logo {
  text-transform: uppercase;
  align-items: center;
  text-align: center;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.header__logo a {
  transition: all 0.3s;
}
.header__logo a:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: #C00000;
}
.header__info {
  display: flex;
  text-align: center;
  align-items: center;
}
.header__info button {
  color: #F6F6F6;
  background-color: #2B2B2B;
  transition: 0.5s ease;
  width: 285px;
}
.header__info button:hover {
  color: #2B2B2B;
  background-color: #F6F6F6;
  border: solid 1px #2B2B2B;
  transform: scale(1.1);
  transition: 0.5s ease;
}
.header__info :first-child {
  padding-right: 50px;
}

.main {
  margin-top: 100px;
}
.main__fonpage {
  height: 45vw;
  min-height: 384px;
  background-image: url(../img/house_fon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main__fonpage img {
  width: 100%;
}
.main__space4 {
  padding-top: 19vw;
}
.main__space4-relative {
  position: relative;
}
.main__space4-relative button {
  color: #2B2B2B;
  background-color: #F6F6F6;
  display: none;
  transition: 0.5s ease;
}
.main__space4-relative button:hover {
  color: #F6F6F6;
  background-color: #2B2B2B;
  border: solid 1px #F6F6F6;
  transform: scale(1.1);
  transition: 0.5s ease;
}
.main__space4 .freedom {
  padding-left: 460px;
}
.main__space4 img {
  width: 400px;
  height: 5px;
  position: absolute;
  top: 100px;
  left: 190px;
}
.main .section__about {
  background-color: #F3F3F3;
}
.main .section__contant {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .section__img {
  width: 50%;
  height: 100%;
}
.main .section__img img {
  width: 100%;
}
.main .section__text {
  width: 330px;
}
.main .section__text :first-child {
  padding-bottom: 50px;
}
.main .section__text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.main .section__text p:not(:last-child) {
  padding-bottom: 20px;
}

.section__h2 {
  display: none;
  padding-bottom: 50px;
}
.section__location {
  background-color: #F6F6F6;
  overflow: hidden;
}
.section__location .section__contant {
  flex-direction: row-reverse;
}
.section__location .section__contant .section__img {
  max-height: 700px;
}
.section__location .section__contant .section__img iframe {
  min-height: 500px;
  height: 100%;
  width: 100%;
}
.section__style {
  background-color: #F3F3F3;
}
.section__style .section__contant .section__img :last-child {
  display: none;
}

.section__benefits {
  background-color: #F6F6F6;
  padding-top: 7vw;
}
.section__benefits-h2 {
  padding-bottom: 50px;
}

.swiper {
  height: 750px;
}
.swiper-slide {
  width: 570px;
  height: 100%;
}
.swiper-slide__text {
  padding-top: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.swiper-slide .slide-image {
  height: 650px;
}
.swiper-slide .slide-image img {
  height: 100%;
  width: 100%;
}
.swiper .swiper-button-next {
  right: 0px;
  left: auto;
  top: 43%;
}
.swiper .swiper-button-prev {
  right: auto;
  left: 0px;
  top: 43%;
}

.section {
  padding: 7vw 0;
}
.section__offers {
  background-color: #F3F3F3;
}
.section .section__offers-h2 p {
  padding: 25px 0px 50px 0px;
}
.section__offers-content {
  display: flex;
  gap: 60px;
}
.section__offers-block {
  min-width: 250px;
  max-width: 570px;
}
.section__offers-img img {
  width: 100%;
}
.section__offers-info {
  padding-top: 50px;
}
.section__offers-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 330px;
}
.section__offers-info button {
  background-color: #2B2B2B;
  color: #F6F6F6;
  transition: 0.5s ease;
  margin-bottom: 5px;
}
.section__offers-info button:hover {
  background-color: #F6F6F6;
  color: #2B2B2B;
  border: solid 1px #2B2B2B;
  transition: 0.5s ease;
  transform: scale(1.1);
}

.section__comfort-zone {
  overflow: hidden;
}
.section__comfort-zone h2 {
  padding-bottom: 50px;
}
.section__comfort-zone .swiper-zone {
  position: relative;
}
.section__comfort-zone .swiper-zone .swiper-wrapper-zone .swiper-slide {
  max-width: 1200px !important;
}
.section__comfort-zone .swiper-zone .swiper-wrapper-zone .swiper-slide img {
  width: 100%;
}
.section__comfort-zone .swiper-zone .swiper-pagination {
  bottom: -30px;
}
.section__comfort-zone .swiper-zone .swiper-button-next {
  right: -5px;
  left: auto;
}
.section__comfort-zone .swiper-zone .swiper-button-prev {
  right: auto;
  left: -5px;
}
.section__comfort-zone .swiper-zone .swiper-slide-prev {
  opacity: 0.3;
}
.section__comfort-zone .swiper-zone .swiper-slide-next {
  opacity: 0.3;
}
@media (max-width: 1273px) {
  .section__comfort-zone .swiper-button-next {
    right: 0px !important;
    left: auto !important;
  }
  .section__comfort-zone .swiper-button-prev {
    right: auto !important;
    left: 0px !important;
  }
}

.section__specifications-h2 {
  padding-bottom: 50px;
}
.section__specifications-content {
  display: flex;
  flex-direction: column;
}
.section__specifications-content :nth-child(9) {
  border-bottom: solid 1px #000;
}
.section__specifications-text {
  display: flex;
  justify-content: space-between;
  height: 74px;
  border-top: solid 1px #000;
  align-items: center;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 100px 20px;
}
.footer__contant-email form {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.footer__contant-email form :first-child {
  margin-bottom: 25px;
}
.footer__contant-email form button {
  background-color: #F6F6F6;
  color: #2B2B2B;
  margin-top: 50px;
  width: 200px;
  transition: 0.5s ease;
}
.footer__contant-email form button:hover {
  background-color: #2B2B2B;
  color: #F6F6F6;
  border: solid 1px #F6F6F6;
  transform: scale(1.1);
  transition: 0.5s ease;
}
.footer__contant-email form .input__container {
  display: flex;
  align-items: flex-end;
}
.footer__contant-email form .input__container input {
  width: 18px;
  height: 18px;
  margin: 50px 15px 0px 0px;
}
.footer__contant-email form .error {
  border-bottom: solid 1px #C00000;
}
.footer__contant-email form .error__checked {
  color: #C00000;
}
.footer__contant-contacts {
  width: 200px;
}
.footer__contant-contacts h2 {
  padding-bottom: 50px;
}
.footer__contant-contacts p {
  padding-bottom: 25px;
}
.footer__contant-contacts a {
  color: #F6F6F6;
  text-decoration: underline;
}
.footer__social {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.footer__social a {
  text-decoration: none;
  transition: 0.3s ease;
}
.footer__social a img {
  height: 20px;
  width: 20px;
}
.footer__social a:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
}
.footer__web-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
}
.footer__web-links-undercity {
  width: 350px;
}
.footer__web-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.footer__web-links a {
  color: #F6F6F6;
  transition: 0.3s ease;
}
.footer__web-links a:hover {
  transform: scale(1.5);
  transition: 0.3s ease;
  color: #C00000;
}
.footer__web-links-autor {
  text-align: end;
  width: 350px;
}/*# sourceMappingURL=style.css.map */